body {
    background-image: url("../images/crystal_background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

.heading{
    color: whitesmoke;
    padding: 20px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background: orange;
    display: block;
    width: 200px;
    margin-left: 20px;
    margin-top: 20px;
    text-align: left;
}  

.description{
    background: whitesmoke;
    margin-left: 20px;
    margin-top: 20px;
    width:40%;
    height:400px;
}

.para{
    color: green;
    margin-left: 10px;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 14px;
}

.random_score{
    float: left;
    background:green;
    color:purple;
    font-family: 'Times New Roman', Times, serif;
    width: 50%;
    height: 100px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.result_score{
    float: left;
    position: relative;
    background:rgb(113, 199, 173);
    color:blue;
    font-family: 'Times New Roman', Times, serif;
    width: 80px;
    height: 100px;
    margin-left: 20px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.img-thumbnail {
    background-color: white;
    border: 2px solid white;
    height: 85px;
    width: 85px;
    margin-right: 3px;
    margin-left: 20px;
  }

.gems-available {
    text-align: center;
    margin-left: 20px;
    float: left;
    
  }

  .total{
    clear: both;
    float: none;
    background:rgb(76, 223, 174);
    color:whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    width: 10%;
    height: 35px;
    margin-left: 20px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
}  

.total_score{
    background:rgb(76, 223, 174);
    color:whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    width: 25%;
    height: 100px;
    margin-left: 20px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}  